.header-button {
	@apply relative tracking-tighter p-1 transition ease-linear duration-200 bg-amber-300 rounded-lg hover:bg-amber-400;
	min-width: 5rem;
	min-height: 5rem;
	max-width: 5rem;
	max-height: 5rem;
}

.header-number {
	@apply absolute font-bold text-2xl;
	right: 18px;
	bottom: 9px;
}

.header-number-double-digit {
	@apply text-xl;
	right: 14px;
	bottom: 11px;
}

.bump {
	animation: bump 300ms ease-out;
}

@keyframes bump {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}
